/* Google Fonts'tan Cardo ve Rubik fontlarını ekleyelim */
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

/* Raleway fontunu ekleyelim */
@import url("http://fonts.googleapis.com/css?family=Raleway");

/* Kök elementimize bazı değişkenler tanımlayalım */
:root {
  --d: 700ms; /* Animasyon süresi */
  --e: cubic-bezier(0.19, 1, 0.22, 1); /* Animasyon eğrisi */
  --font-sans: "Rubik", sans-serif; /* Yazı tipi - Rubik */
  --font-serif: "Cardo", serif; /* Yazı tipi - Cardo */
}

/* Bütün elementler için kutu modelini düzenleyelim */
* {
  box-sizing: border-box;
}

/* HTML ve body elementleri için genel stil */
html,
body {
  height: 100%;
  background-color: black;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Link stilini düzenleyelim */
a {
  color: #fff !important;
}

/* Navigasyon öğeleri için stil */
.nav-item {
  font-family: "Century Gothic"; /* Navigasyon yazı tipi */
  margin: 0 auto;
  padding: 0em 3em;
  text-align: center;
}

.nav-item a {
  color: #FFF;
  text-decoration: none;
  font: 20px "Century Gothic";
  margin: 0px 10px;
  padding: 20px 10px;
  position: relative;
  z-index: 0;
}

/* Sayfa içeriği için stil */
body {
  display: grid;
  place-items: center;
}

/* Sayfa içeriği içindeki kartların stilini düzenleyelim */
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
  margin-top: 50px;
}

/* Ekran genişliği 600px'den büyükse kartları iki sütuna yerleştirelim */
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Ekran genişliği 800px'den büyükse kartları dört sütuna yerleştirelim */
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Kart öğesi için stil */
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  /* Kutuyu hafifçe gölgelendirelim */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

/* Ekran genişliği 600px'den büyükse kart yüksekliğini ayarlayalım */
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}

/* Kartın önünde ve arkasında arka plan görüntüleri için stiller belirleyelim */
.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

/* Kartların önünde arka plan görüntüleri belirleyelim */
.card:nth-child(1):before {
  background-image: url(https://user-images.githubusercontent.com/88947242/247974121-44f19444-9c85-4bf0-b595-994424c4cf89.png);
}
.card:nth-child(2):before {
  background-image: url(https://user-images.githubusercontent.com/88947242/238763443-33b4dd29-7f8e-4680-a390-a1641983a4ea.png);
}
.card:nth-child(3):before {
  background-image: url(https://user-images.githubusercontent.com/88947242/238762734-ae40135f-6093-45fb-8d61-3bb58be0fabd.png);
}
.card:nth-child(4):before {
  background-image: url(https://user-images.githubusercontent.com/88947242/245079639-ab2af879-8a86-439c-ab91-10bd871ea5ed.png);
}
.card:nth-child(5):before {
  background-image: url(#);
}
.card:nth-child(6):before {
  background-image: url(#);
}
.card:nth-child(7):before {
  background-image: url(#);
}
.card:nth-child(8):before {
  background-image: url(#);
}

/* Kartın altındaki içerik alanı için stil belirleyelim */
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

/* Kart başlığı için stil */
.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

/* Kart içeriği için stil */
.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

/* Düğme stilini düzenleyelim */
.btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 11px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}
.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}
.btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}
.btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}
.btn:active {
  transform: scale(0.9);
}

/* Ekran genişliği 600px'den büyükse kartın içeriğini gösterelim */
@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* Dikey kaydırma çubuğu stili */
::-webkit-scrollbar-thumb {
  background-color: #FFB6C1;
}

/* Dikey kaydırma çubuğu arka plan stili */
::-webkit-scrollbar-track {
  background-color: lightgray;
}

/* Dikey kaydırma çubuğu genel stili */
::-webkit-scrollbar {
  width: 15px;
}

/* Link üzerine gelindiğinde alt ve üst kenarlara bir çizgi ekleyelim */
.topBotomBordersOut a:before,
.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}
.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}
.topBotomBordersOut a:hover:before,
.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}


/* Animasyonlu arka plan */
.quadrados {
    background:
    linear-gradient(45deg, hsla(352, 96%, 45%, 1) 0%, hsla(352, 96%, 45%, 0) 70%),
    linear-gradient(135deg, hsla(253, 95%, 42%, 1) 10%, hsla(253, 95%, 42%, 0) 80%),
    linear-gradient(225deg, hsla(179, 91%, 45%, 1) 10%, hsla(179, 91%, 45%, 0) 80%),
    linear-gradient(315deg, hsla(119, 96%, 49%, 1) 100%, hsla(119, 96%, 49%, 0) 70%);    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* Animasyonlu arka plan öğeleri */
.quadrados li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    -webkit-animation: square 5s infinite;
    animation: square 8s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.quadrados .game {
    position: absolute;
    display: block;
    background-color: transparent !important;
    bottom: -100px;
    -webkit-animation: square 5s infinite;
    animation: square 8s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.quadrados li i {
    color : rgba(255, 255, 255, 0.774) !important;
    width: 200px;
    height: 200px;
}

/* Animasyonlu arka plan öğeleri stilleri */
.quadrados .game{
    width: 80px;
    height: 80px;
    left: 30%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 12s;
}
.quadrados li:nth-child(1) {

    width: 40px;
    height: 40px;
    left: 20%;
}
.quadrados li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.quadrados li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.quadrados li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.quadrados li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.quadrados li:nth-child(6) {
    width: 10px;
    height: 10px;
    left: 10%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.quadrados li:nth-child(7) {
    width: 90px;
    height: 90px;
    left: 15%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.quadrados li:nth-child(8) {
    width: 80px;
    height: 80px;
    left: 30%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.quadrados li:nth-child(9) {
    width: 10px;
    height: 10px;
    left: 70%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.quadrados li:nth-child(10) {
    width: 20px;
    height: 20px;
    left: 80%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}
